@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Edu+SA+Beginner:wght@400;700&family=Lato:wght@400;700&display=swap');

:root {
  --primary-color: #0C3E5B;
  --secondary-color: #1A6081;
  --accent-color: #BC9AB3;
  --background-light: #f0e7ee;
  --background-dark: #1F1C2C;
  --background-darktransp: rgba(51, 48, 65, 0.6);
  --background-lighttransp: rgba(168, 167, 173, 0.6);
  --text-light: #1F1C2C;
  --text-dark: #BC9AB3;
  --btn-background: #70436E;
  --color-fuente: #ffffff;
  --color-fondo: #000;
  --color-intenseDark: #1F1C2C;
  --color-mediumDark: #0C3E5B;
  --color-lightDark: #5E365E;
  --color-intenseLight: #1A6081;
  --color-mediumLight: #BC9AB3;
  --color-lightLight: #E8D9E4;
}

/* Estilos para el modo diurno */
body.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
}

.light-mode header a.active {
  text-decoration: underline;
  color: var(--color-lightLight);
  transform: scale(1.5);
  animation: all 300ms;
}
.light-mode #contact.section {
  background-color: var(--color-intenseLight);
  color: var(--light);
}

body.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
}

.light-mode footer   {
  background-color: var(--color-mediumLight);
  color: #fff;
}

.light-mode .header2 {
  background-color: var(--background-lighttransp);
  color: var(--text-light);
}

.light-mode header {
  background-color: var(--color-intenseLight);
  color: var(--text-light);
}


/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.dark-mode header a.active {
  text-decoration: underline;
  color: #FFF;
  transform: scale(1.5);
  animation: all 300ms;
}

.dark-mode #contact.section {
  background-color: var(--color-mediumDark);
  color: var(--color-fuente);
}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.dark-mode .section h3{
  color: #fff;
}

.dark-mode footer  {
  background-color: var(--color-mediumDark);
  color: #fff;
}

.dark-mode .header2 {
  background-color: var(--background-darktransp);
  color: var(--text-dark);
}

.dark-mode header {
  background-color: var(--color-mediumDark);
  color: var(--text-dark);
}

/* Resto de estilos que no necesitan cambios */

body {
  margin: 0;
  height: 100vh;
  align-items: center;
  font-family: 'Caveat', cursive;  
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  transition: all 0.5s;
  background: var(--color-lightLight);
  color: var(--color-intenseDark);
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 400ms;
}

a:hover {
  background-color: var(--color-lightLight);
  padding: 15px 15px 15px 15px;
  border-radius: 25px;
  transition: all 400ms;
}

h1 {
  font-size: 36px;
  padding-bottom: 40px;
}

h2 {
  font-family: 'Edu SA Beginner', cursive;
  padding-top: 10px;
  font-size: 32px;
  transition: all 300ms;
}

p {
  margin: 10px;
  padding-bottom: 20px;
  font-family: 'Edu SA Beginner', cursive;
}

a.enlace1 {
  margin-top: 50px;
}

.header2 {
  width: 100%;
  margin: auto;
  background-color: transparent;
  transition: background-color 0.3s ease;
  color: var(--color-lightDark);
  opacity: 90%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 20px;
  background-color: #1F1C2C;
  color: #fff;
  transition: all 300ms;
  box-shadow: 0 5px 5px rgba(23, 24, 24, 0.5);
  z-index: 3;
}

/* Estilo para ocultar el texto en el header2 funciona */
.header2 a .texto {
  display: none;
}

.header2 h2 {
  display: none;
}

.header2 .bi {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  transition: all 600ms;
}

.header2 .logo01 {
  width: 40px;
  border-radius: 50%;
  float: left;
  transition: all 300ms;
  filter: drop-shadow(0px 5px 5px rgb(23, 24, 24));
  animation: none;
}

.active {
  text-decoration: underline;
  color: var(--color-lightLight);
}

#home{
  width: 100%;
  display: inline-flex;
  padding-top: 100px;
  justify-content: space-evenly;
  margin: auto;
  transition: all 300ms;
}

#contact.section {
  background-color: var(--color-intenseLight);
  color: var(--light);
  margin: 0;
  margin-bottom: 120px;
  margin-top: 100px;
  margin-left: 12%;
  min-height: 50vmax;
  width: 80%;
}

@media (max-width: 1024px) {
  #home {
    display: inline-block;
  }

  #contact.section {
    display:flex;
    margin: 0;
    padding-bottom: 10%;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 12%;
    min-height: 50vmax;
    height: 100%;
    width: 80%;
  }
}

.logo01 {
  width: 60px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  transition: all 300ms;
  filter: drop-shadow(0px 5px 5px rgb(23, 24, 24));
  animation: rotar 3s linear infinite;
}

@keyframes rotar {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY('-180deg');
  }
}

#inicio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.yo {
  width: 400px;
  padding: 10px;
  border: width 100px;
  border-style: solid;
  border-color: var(--color-lightDark);
  min-width: 50%;
  max-width: 400px;
  border-radius: 50%;
  margin: auto;
}

.cuerpo {
  display: flex;
  flex-direction: column;
  padding: 2%;
  padding-top: 50px;
  width: 90%;
  align-self: end;
  margin: auto;
}

#CV {
  margin: 200px;
  padding: 30px;
  padding-bottom: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}


.logo {
  margin-top: 10px;
  width: 60px;
  max-width: 100px;
  padding: 5px;
  z-index: -3;
  transition: all 300ms;
}

.logo:hover {
  transform: translateY(-20px);
  transition: all 300ms;
}

figure {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-left: 5%;
}

#contact {
  background-color: rgba(122, 114, 155, 0.3);
  border-radius: 30px;
  padding-top: 100px;
  margin-bottom: 60px;
  margin-top: 150px;
  min-height: 100vh;
  height: 400px;
  width: 100%;
  box-shadow: 0px 0px 15px 0px #5f5f5f;
}

#myself {
  padding-bottom: 30px;
}

.gif-menu {
  display: flex;
}

.enlace1 {
  text-align: center;
  min-width: 150px;
  padding: 15px 15px 20px 15px;
  border-radius: 25px;
  background-color: var(--color-lightDark);
  color: var(--color-lightLight);
  border-style: hidden;
  border-color: var(--color-lightDark);
  font-size: 20px;
  margin: auto;
  margin-top: 20px;
  transition: all 600ms;
}

a.enlace1:hover {
  background-color:var(--color-mediumLight);
  color: var(--color-fondo);
  padding: 15px 15px 20px 15px;
  transition: all 600ms;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset > input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4) {
  display: inline-block;
  justify-content: space-between;
}

footer {
  background-color: var(--color-mediumLight);
  color: var(--color-mediumDark);
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 0px 15px 5px #5f5f5f;
  height: 80px;
}

footer a.enlace1 {
  margin-bottom: 40px;
}

.cv {
  padding: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 15px;
}

.cv img {
  width: 30px;
  margin-right: 10px;
}

/* Estilos para el encabezado */
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-lightDark);
  padding: 10px;

}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.moon svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.sun svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sun svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.switch .input:checked + .slider {
  background-color: #183153;
}

.switch .input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.switch .input:checked + .slider:before {
  transform: translateX(30px);
}

/* Galería de imágenes */
.section h3{
  display: flex;
  justify-content: center;
  padding: 25px;
  color: #000;
}


#extras{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-height: 80vh;
  width: calc(100% - 100);
  height: 600px;
  width: 1100px;
}

.images .image {
  position: relative;
  overflow: hidden;
  min-width: 50px;
  margin: 10px;
  background-size: auto 100%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(1, 0.8, 0.2, 2.1);
}

.images .image.active {
  flex-grow: 100000;
  scale: (1.3);
  max-width: 50dvh;
  margin: 0;
  border-radius: 25px;
  background-size: auto 110%;
  box-shadow: px 0px 5px 0px #5f5f5f;
}
.images .first.active {
  flex-grow: 100000;
  scale: (1.3);
  max-width: 120dvh;
  margin: 0;
  border-radius: 25px;
  background-size: auto 110%;
  box-shadow: px 0px 5px 0px #5f5f5f;
}

.images .image.active .label {
  background-color: rgba(22, 15, 22, 0.3);
  color: #ffffff;
 /* opacity: 50%;*/
  padding: 10px;
  border-radius: 50px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  height: 50px;
  transition: all 0.4s ;
}
.images .image.active .label:hover {
 height: 120px;
 transition: all 0.4s ;
}

.images .image:not(.active) {
  flex-grow: 1;
  border-radius: 25px;
}
.images .image:not(.active):hover {
  transform: translateY(-10px);
  transition: all 300ms;
}

.images .image:not(.active) .label {
  bottom: 10px;
  left: 10px;
  display: none;
}

.images .image .label {
  display: flex;
  position: absolute;
}



.images .image .label .icon {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light);
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--dark);
}

.images .image .label .info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: var(--light);
}

.images .image .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Agregamos estilos para el enlace de tema oscuro en el footer */




/* Estilos para el encabezado del modo oscuro funciona */


/* Estilos para el encabezado del modo claro funciona */


/*tamaño de la pagina*/

@media screen and (max-width: 1300px) {
  body .images{
    height:90vh;
}
}

@media screen and (max-width: 900px) {
  body .images{
    height:70vh;
}
header{
  font-size: 18px;
}
}

@media screen and (max-width: 718px) {
  body .images{
      min-width: 520px;
}
body .images .image:nth-child(5) {
  display: none;
}
}

@media screen and (max-width: 638px) {
  body .images{
      min-width: 440px;
}
body .images .image:nth-child(4) {
  display: none;
}
header .texto {
  font-size: 16px;
}
}

@media screen and (max-width: 538px) {
  body .images{
      min-width: 360px;
}
body .images .image:nth-child(3) {
  display: none;
}
header a .texto {
  display: none;
  transition: all 600ms;
}

header h2 {
  display: none;
  transition: all 600ms;
}

header .bi {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  transition: all 600ms;
}
}
@media screen and (max-width: 478px) {
  body .images{
      min-width: 280px;
}
body .images .image:nth-child(2) {
  display: none;
}
}

 